[bumpversion]
current_version = 4.1.0
commit = True
tag = True

[bumpversion:file:shinyutils/__init__.py]

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"
