.git*                       export-ignore
.version                    export-ignore
.versionrc                  export-ignore
.pre-commit-config.yaml     export-ignore
poetry.lock                 export-ignore
